
a {
    color: currentColor;
    text-decoration: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul,
ol,
li,
menu {
    list-style: none;
}

.fi-en {
    background-image: url(../src/assets/us.svg);
}

.fi-ko {
    background-image: url(../src/assets/ko.png);
}

.fi-ja {
    background-image: url(../src/assets/jp.svg);
}